*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .ak{

    background-image: linear-gradient(red orange blue);
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
} */

